#flag{
    justify-content: center;
    align-content: center;
}
#flag .division{
    margin: 0 auto;
    width: 400px;
    height: 100px;
    color: transparent;

}
#flag .red{
    background-color: rgba(255, 0, 0, 0.8);
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}
#flag .green{
    background-color: rgba(111, 255, 0, 0.8);;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
}
#flag .white{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-content: center;
    color: red;
}

h1{
    font-size: 50px;
}